import Drt{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Drt{{properCase name}}',
  component: Drt{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Drt{{properCase name}} },
  template: `
    <div>
      <drt-{{name}}></drt-{{name}}>
    </div>
  `
})